 <!-- BEGIN: Content-->
 <div class="app-content content ">
   <div class="content-overlay"></div>
   <div class="header-navbar-shadow"></div>
   <div class="content-wrapper">
     <div class="content-header row">
     </div>
     <div class="content-body">
       <div class="auth-wrapper auth-basic px-2">
         <div class="auth-inner my-2">
           <!-- Login basic -->
           <div class="card mb-0">
             <div class="card-body">
               <a href="#" class="brand-logo">
                 <h2 class="brand-text text-primary ms-1">Connexion</h2>
               </a>

               <h4 class="card-title mb-4 mt-3 text-center">Bienvenue sur Offshore Work 👋</h4>

               <div *ngIf="successMessage" class="alert alert-success p-2" role="alert">
                 {{ successMessage }}
               </div>

               <div *ngIf="errorMessage" class="alert alert-danger p-2" role="alert">
                 {{ errorMessage }}
               </div>

               <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                 <div class="mb-1">
                   <label for="login-email" class="form-label">Email</label>
                   <input type="text" class="form-control" id="login-email" name="login-email"
                     placeholder="john@example.com" aria-describedby="login-email" tabindex="1" autofocus="">
                 </div>

                 <div class="mb-1">
                   <div class="d-flex justify-content-between">
                     <label class="form-label" for="login-password">Mot de passe</label>
                     <a href="javascript:void">
                       <small>Mot de passe oublié ?</small>
                     </a>
                   </div>
                   <div class="input-group input-group-merge form-password-toggle">
                     <input type="password" class="form-control form-control-merge" id="login-password"
                       name="login-password" tabindex="2"
                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                       aria-describedby="login-password">
                     <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                   </div>
                 </div>
                 <div class="mb-1">
                   <div class="form-check">
                     <input class="form-check-input" type="checkbox" id="remember-me" tabindex="3">
                     <label class="form-check-label" for="remember-me"> Se souvenir de moi </label>
                   </div>
                 </div>
                 <button class="btn btn-primary w-100" tabindex="4">Connexion</button>
               </form>

               <p class="text-center mt-2">
                 <span>Vous n'avez pas de compte ? </span>
                 <a href="javascript:void" routerLink="/register">
                   <span>Inscrivez-vous</span>
                 </a>
               </p>


             </div>
           </div>
           <!-- /Login basic -->
         </div>
       </div>

     </div>
   </div>
 </div>
 <!-- END: Content-->
